<H2>Your contacts:</H2>
<form action="/contacts" method="POST" role="form">
 <div class="form-group">
  <label>Your e-mail</label>
  <input name="email" type="email" class="form-control" placeholder="Enter email"><br>
 </div>
 <div class="form-group">
	<textarea name="mess" class="form-control" rows="3" placeholder="Your message..."></textarea><br>
 </div>                                                       
<button type="submit" class="btn btn-info">Send</button>





